// Font
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");

// Animation
@keyframes contentAnimation {
  from {
    right: 30vw;
    opacity: 0;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
  to {
    right: 10vw;

    opacity: 1;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

//Master

* {
  font-family: "Roboto", sans-serif;
}
.root {
  z-index: 1;
}

//PC's

@media (min-width: 1024px) {
  body {
    overflow: hidden;
  }
  div.container {
    margin: 0;
    padding: 0;
    background-image: url("../images/bg-desktop.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    nav.navbar {
      height: 100vh;
      width: 10vw;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 5;
    }
    div.content {
      //container position and size
      position: absolute;
      right: 30vw;
      bottom: 10vh;
      width: 80vw;
      height: 80vh;

      //animation
      animation-name: contentAnimation;
      animation-duration: 1.5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      div.title {
        //container position and size
        position: absolute;
        width: 30vw;
        height: 20vh;

        //container look
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
        backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
        border-radius: 10px;

        //content
        display: flex;
        align-items: center;
        justify-content: center;

        //animation
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        h1#titleLabel {
          font-size: 50pt;
        }
      }
      div.homeTitle {
        @keyframes slideHomeTitle {
          from {
            right: -10vw;
          }
          to {
            right: 1vw;
          }
        }
        top: 2vh;
        right: -10vw;
        transform: translate(10em, -2em) rotate(15deg);
        animation-name: slideHomeTitle;
        animation-duration: 1.5s;
      }
      div.aboutTitle {
        @keyframes slideAboutTitle {
          from {
            left: -20vw;
          }
          to {
            left: 2.5em;
          }
        }
        top: 2vh;
        left: -20vw;
        transform: translate(-2.5em, -2em) rotate(345deg);
        animation-name: slideAboutTitle;
        animation-duration: 2.5s;
      }
      div.contactTitle {
        @keyframes slideContactTitle {
          from {
            top: -20vh;
          }
          to {
            top: -1vh;
            left: 2em;
          }
        }
        top: -20vh;
        transform: translate(-2.5em, 2em) rotate(-25deg);
        animation-name: slideContactTitle;
        animation-duration: 1.5s;
      }
    }
    div.projectsTitle {
      @keyframes slideProjectsTitle {
        from {
          right: -20vw;
        }
        to {
          right: 2.5em;
        }
      }
      top: 10vh;
      right: -20vw;
      transform: translate(0em, -2em);
      animation-name: slideProjectsTitle;
      animation-duration: 1.5s;
      position: absolute;
      width: 30vw;
      height: 20vh;

      //container look
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
      backdrop-filter: blur(3.5px);
      -webkit-backdrop-filter: blur(3.5px);
      border-radius: 10px;

      //content
      display: flex;
      align-items: center;
      justify-content: center;

      //animation
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

      h1#titleLabel {
        font-size: 50pt;
      }
    }
    div.home {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      img {
        grid-area: 4 / 7 / 4 / 8;
        width: 0vw;
        height: 0vw;
        margin-left: 20px;
        opacity: 0.1;
        border-radius: 50%;
        position: absolute;
        @keyframes imgPopUp {
          from {
            width: 0vw;
            height: 0vw;
            opacity: 0.1;
          }
          to {
            width: 20vw;
            height: 20vw;
            opacity: 1;
          }
        }
        animation-name: imgPopUp;
        animation-duration: 1.5s;
        animation-delay: 1.3s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        place-self: center stretch;

        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
          0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
          0 22.3px 17.9px rgba(0, 0, 0, 0.042),
          0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
      }
      h2.subtitle {
        grid-area: 2 / 2 / 3 / 5;
        background: rgba(255, 255, 255, 0.7);

        font-size: 40pt;
        border: 4px solid #eee;
        justify-self: center;
        padding: 20px;
        border-radius: 20px;
        color: #222;

        box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
          0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 100px 80px rgba(0, 0, 0, 0.07);
      }
      div.opis {
        grid-area: 4 / 2 / 10 / 7;
        font-size: 20pt;
      }
    }
    div.About {
      background: none;
      @media (max-width: 1390px) {
        div.graph {
          display: none;
        }
      }
      div.graph {
        width: 40vh;
        height: 45vh;
        margin-top: 30vh;
        margin-left: 5vw;
        float: left;
        border-radius: 15px;

        div.inGraph {
          padding: 0px 20px 0 20px;
          * {
            box-sizing: border-box;
          }
          p {
            font-size: 11pt;
          }

          .kontener {
            width: 100%;
            background-color: #ddd;
            height: 20px;
            border-radius: 10px;
            .skills {
              text-align: right;
              padding-top: 10px;
              padding-bottom: 10px;
              color: white;
              border-radius: 10px;
            }
            .html {
              width: 0%;
              background: rgb(255, 111, 0);
              background: linear-gradient(
                90deg,
                rgba(255, 111, 0, 1) 9%,
                rgba(255, 185, 64, 1) 100%
              );
              height: 20px;

              @keyframes HTMLslide {
                from {
                  width: 0%;
                }
                to {
                  width: 98%;
                }
              }
              animation-name: HTMLslide;
              animation-duration: 1s;
              animation-delay: 0.5s;
              -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
            }
            .css {
              width: 0%;
              background: rgb(0, 91, 255);
              background: linear-gradient(
                90deg,
                rgba(0, 91, 255, 1) 9%,
                rgba(64, 203, 255, 1) 100%
              );
              height: 20px;

              @keyframes CSSslide {
                from {
                  width: 0%;
                }
                to {
                  width: 87%;
                }
              }
              animation-name: CSSslide;
              animation-duration: 1s;
              animation-delay: 1s;
              -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
            }
            .js {
              width: 0%;
              background: rgb(255, 42, 42);
              background: linear-gradient(
                90deg,
                rgba(255, 42, 42, 1) 9%,
                rgba(255, 132, 132, 1) 100%
              );
              height: 20px;

              @keyframes JSslide {
                from {
                  width: 0%;
                }
                to {
                  width: 65%;
                }
              }
              animation-name: JSslide;
              animation-duration: 1s;
              animation-delay: 1.5s;
              -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
            }
            .react {
              width: 0%;
              background: rgb(24, 160, 0);
              background: linear-gradient(
                90deg,
                rgb(24, 170, 0) 48%,
                rgb(81, 255, 0) 100%
              );
              height: 20px;

              @keyframes REACTslide {
                from {
                  width: 0%;
                }
                to {
                  width: 48%;
                }
              }
              animation-name: REACTslide;
              animation-duration: 1s;
              animation-delay: 2s;
              -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
            }
            .sass {
              width: 0%;
              background: rgb(179, 0, 255);
              background: linear-gradient(
                90deg,
                rgba(179, 0, 255, 1) 9%,
                rgba(255, 64, 251, 1) 100%
              );
              height: 20px;

              @keyframes SASSslide {
                from {
                  width: 0%;
                }
                to {
                  width: 34%;
                }
              }
              animation-name: SASSslide;
              animation-duration: 1s;
              animation-delay: 2.5s;
              -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
            }
          }
        }
      }
      div.timeline {
        top: 2vh;
        right: 2vh;
        height: 100%;
        width: 650px;
        float: right;
        // background-color: #444;
        border-radius: 30px;
      }
    }
    .Contact {
      .buttonContainer {
        float: right;
        padding-top: 20px;
        .ButtonGroupContainer {
          display: flex;
          flex-direction: row;
          .contactButton {
            width: 10vw;
            height: 10vw;
            z-index: 100;
            border-radius: 50%;
            // background: none;
            border: none;
            margin: 0 1vw 0 1vw;
          }
        }
      }
      .contactForm {
        width: 100%;
        height: 30vh;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

//Phone's
@media (max-width: 1023px) {
  @media (max-width: 1390px) {
    div.graph {
      display: none;
    }
  }
  div.container {
    margin: 0;
    padding: 0;
    background-image: url("../images/bg-mobile.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;

    background-attachment: fixed;
    nav.navbar {
      width: 100%;
      position: fixed;
      z-index: 5;
      bottom: 0;
      align-self: center;
      display: flex;
      justify-content: center;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(3.5px);
      -webkit-backdrop-filter: blur(3.5px);
      border: 2px solid rgba(255, 255, 255, 0.05);
    }
    div.content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 30px;

      div.title {
        // justify-self: center;
        align-self: center;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
        backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.35);
        padding-left: 30px;
        padding-right: 30px;

        h1 {
          font-size: 7vh;
        }
      }
      h2.subtitle {
        font-size: 0vh;
        justify-self: flex-start;
        align-self: flex-start;
        margin-top: 25px;
        margin-bottom: 20px;
        margin-left: 2vw;
        border: solid 1px white;
        padding: 10px;
        border-radius: 10px;
        color: white;
        opacity: 0;

        @keyframes textPopUp {
          from {
            font-size: 0vh;

            opacity: 0;
          }
          to {
            font-size: 5vh;

            opacity: 1;
          }
        }
        animation-name: textPopUp;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
      img {
        width: 0vw;
        height: 0vw;
        min-width: 0px;
        min-height: 0px;
        margin: 0 2vh 2vh 0;

        border-radius: 50%;
        justify-self: flex-end;
        align-self: flex-end;
        @keyframes imgPopUpMobile {
          from {
            width: 0vw;
            height: 0vw;
            min-width: 0px;
            min-height: 0px;
            opacity: 0.1;
          }
          to {
            width: 20vw;
            height: 20vw;
            min-width: 150px;
            min-height: 150px;
            opacity: 1;
          }
        }
        animation-name: imgPopUpMobile;
        animation-duration: 1s;
        animation-delay: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
      .opis {
        font-size: 0;
        color: #eee;
        background: none;
        box-shadow: none;
        backdrop-filter: 0;
        -webkit-backdrop-filter: 0;
        border-radius: 0;
        border: none;
        padding: 10px;
        margin: 1vmin;
        max-width: 60vw;

        @keyframes opisPopUpMobile {
          from {
            font-size: 0;
            height: 0vw;

            background: none;
            box-shadow: none;
            backdrop-filter: 0;
            -webkit-backdrop-filter: 0;
            border-radius: 0;
            border: none;
          }
          to {
            font-size: 16pt;
            height: auto;

            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
            backdrop-filter: blur(3.5px);
            -webkit-backdrop-filter: blur(3.5px);
            border-radius: 10px;
            border: 2px solid rgba(255, 255, 255, 1);
          }
        }
        animation-name: opisPopUpMobile;
        animation-duration: 2s;
        animation-delay: 2s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
    }
  }
}
